

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Bob's Burger's</h1>
    <p class="lead text-center">This is an example of using the MVC model in Node, Express, and MySQL.</p>
    <p class="text-center"><a target="_blank" href="https://github.com/aBOBination/burger" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true"><i class="fa fa-github-square">  Github</i></a></p>
  </div>
</div>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12 sections">
      <h2>Add a Burger!</h2>
      <form class="create-form text-center">
        <div class="form-group">
          <label for="burger-name">New Burger:</label>
          <input type="text" id="burger-name" name="name">
          <button class="btn btn-success btn-sm" type="submit">Add Burger</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4 order-md-1 sections">
     <h2>Burgers to eat!</h2>
      <ul class="burger-undevoured">
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devoured=devoured}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-12 col-md-4 order-md-3 sections">
      <h2>Burgers consumed!</h2>
        <ul>
          {{#each burgers}}
            {{#if devoured}}
              {{> burgers/burger-block devoured=devoured}}
            {{/if}}
          {{/each}}
        </ul>
    </div>
    <div class="col-12 col-md-4 order-md-2 sections">
      <img src="./assets/images/burger.jpg">
    </div>
  </div>
</div>